

<!--
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  * Copyright by The HDF Group.                                               *
  * Copyright by the Board of Trustees of the University of Illinois.         *
  * All rights reserved.                                                      *
  *                                                                           *
  * This file is part of HDF5.  The full HDF5 copyright notice, including     *
  * terms governing use, modification, and redistribution, is contained in    *
  * the files COPYING and Copyright.html.  COPYING can be found at the root   *
  * of the source code distribution tree; Copyright.html can be found at the  *
  * root level of an installed copy of the electronic HDF5 document set and   *
  * is linked from the top-level documents page.  It can also be found at     *
  * http://hdfgroup.org/HDF5/doc/Copyright.html.  If you do not have          *
  * access to either file, you may request a copy from help@hdfgroup.org.     *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 -->


<!-- NEW PAGE -->
<!-- HEADER RIGHT "H5Zfilter_avail" -->
<hr>
<dl>
  <dt><div align=right><font color=999999 size=-1><i>
    Last modified: 10 December 2015
    </i></font></div>

  <br />
  <dt><strong>Name:</strong> <a name="Compression-FilterAvail">H5Zfilter_avail</a>
  <br />
  <br />
  <dt><strong>Signature:</strong>
    <dd><em>htri_t</em> <code>H5Zfilter_avail</code>(<em>H5Z_filter_t</em> <code>filter</code>)
  <br />
  <br />
  <dt><strong>Purpose:</strong>
    <dd>Determines whether a filter is available.
  <br />
  <br />
  <dt><strong>Description:</strong>
    <dd><code>H5Zfilter_avail</code> determines whether the filter 
        specified in <code>filter</code> is available to the application.
  <br />
  <br />
  <dt><strong>Parameters:</strong>
    <ul><table>
        <tr>
            <td valign="top"><em>H5Z_filter_t</em>&nbsp;<code>filter&nbsp;&nbsp;&nbsp;&nbsp;</code></td>
            <td valign="top">IN: Filter identifier.
              See the introduction to this section of the reference manual 
              for a list of valid filter identifiers.</td></tr>
    </table></ul>
  <br />
  <dt><strong>Returns:</strong>
    <dd>
        Returns a positive value if the specified filter is available.
        <br />
        Returns 0 if the specified filter is not available.
        <br />
        Returns a negative value when the function fails. 
        </dd>
  <br />
  <br />
  <dt><strong>Fortran90 Interface:</strong> h5zfilter_avail_f
    <dd>
	<pre>
SUBROUTINE h5zfilter_avail_f(filter, status, hdferr)
  IMPLICIT NONE
  INTEGER, INTENT(IN)  :: filter     ! Filter
                                     ! Valid values are:
                                     !    H5Z_FILTER_DEFLATE_F
                                     !    H5Z_FILTER_SHUFFLE_F
                                     !    H5Z_FILTER_FLETCHER32_F
                                     !    H5Z_FILTER_SZIP_F
  LOGICAL, INTENT(OUT) :: status     ! Flag indicating whether 
                                     ! filter is available: 
                                     !    .TRUE.
                                     !    .FALSE.
  INTEGER, INTENT(OUT) :: hdferr     ! Returns 0 if successful and -1 if fails
END SUBROUTINE h5zfilter_avail_f
	</pre>		
		
		<!--<dt><strong>Non-C API(s):</strong>
    	<dd>
        
        <img src="Graphics/Java.gif"> 
        <img src="Graphics/C++.gif">
        -->
  <dt><strong>History:</strong>
    <ul><table width="90%">
        <tr>
		  <td valign="top" align="left" width="10%">
		    <strong>Release</strong>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td valign="top" align="left">
		    <strong>C</strong></td></tr>
        <tr>
		  <td valign="top">1.6.0</td>
          <td valign="top">
		    Function introduced in this release.</td></tr>
    </table></ul>
</dl>
  <br />
  <br />


