

<!--
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  * Copyright by The HDF Group.                                               *
  * Copyright by the Board of Trustees of the University of Illinois.         *
  * All rights reserved.                                                      *
  *                                                                           *
  * This file is part of HDF5.  The full HDF5 copyright notice, including     *
  * terms governing use, modification, and redistribution, is contained in    *
  * the files COPYING and Copyright.html.  COPYING can be found at the root   *
  * of the source code distribution tree; Copyright.html can be found at the  *
  * root level of an installed copy of the electronic HDF5 document set and   *
  * is linked from the top-level documents page.  It can also be found at     *
  * http://hdfgroup.org/HDF5/doc/Copyright.html.  If you do not have          *
  * access to either file, you may request a copy from help@hdfgroup.org.     *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 -->


<!-- NEW PAGE -->
<!-- HEADER RIGHT "H5Pall_filters_avail" -->
<hr>
<dl>

  <dt><div align=right><font color=999999 size=-1><i>
      Last modified: 10 December 2015
      </i></font></div>

  <dt><strong>Name:</strong> <a name="Property-AllFiltersAvail">H5Pall_filters_avail</a>
  <dt><strong>Signature:</strong>
    <dd><em>htri_t</em> <code>H5Pall_filters_avail</code>(
        <em>hid_t</em> <code>plist_id</code>
        )

  <p>
  <dt><strong>Purpose:</strong>
    <dd>Verifies that all required filters are available.

  <p>
  <dt><strong>Description:</strong>
    <dd><code>H5Pall_filters_avail</code> verifies that all of the filters     
        set in the dataset or group creation property list <code>plist_id</code> 
        are currently available.

  <p>
  <dt><strong>Parameters:</strong>
    <dd><table>
        <tr>
            <td valign="top"><em>hid_t</em>&nbsp;<code>plist_id&nbsp;&nbsp;&nbsp;&nbsp;</code></td>
            <td valign="top">IN: Dataset or group creation property list 
                identifier.</td></tr>
    </table></dd>

  <p>
  <dt><strong>Returns:</strong>
    <dd>
        Returns a positive value if all filters are available.
        <br />
        Returns 0 if at least one filter is not currently available. 
        <br />
        Returns a negative value when the function fails. 
        </dd>
  <p>
  <dt><strong>Fortran90 Interface:</strong>
    <dd>None
<!--
	<pre>
SUBROUTINE
	</pre>		
-->


  <p>
  <dt><strong>History:</strong>
    <ul><table width="90%">
        <tr>
          <td valign="top" align="left" width="10%">
            <strong>Release</strong>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td valign="top" align="left">
            <strong>Change</strong></td></tr>
        <tr>
          <td valign="top">1.6.0</td>
          <td valign="top">
            Function introduced in this release.</td></tr>
        <tr>
          <td valign="top">1.8.5</td>
          <td valign="top">
            Function extended to work with group creation property 
            lists.</td></tr>
    </table></ul>
</dl>

